# Prerequisites
/bear.d/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.ccls-cache
.ccls
*.db
result
result-*
compile_commands.json
bin/

# Logs, Debug Info, Etc
*.gcno
*.gcda
*.gcov
*.log
gmon.out

/.direnv/
*.tmp
/build/

# Records storePath of last known build of activation scripts package.
.ACTIVATION_SCRIPTS_PACKAGE_DIR
