[package]
name = "flox-rust-sdk"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio.workspace = true
tokio-test.workspace = true
rnix.workspace = true
serde.workspace = true
serde_json.workspace = true
async-trait.workspace = true
log.workspace = true
derive_more.workspace = true
runix.workspace = true
url.workspace = true
serde_with.workspace = true
thiserror.workspace = true
anyhow.workspace = true
nixpkgs-fmt.workspace = true
tempfile.workspace = true
fs_extra.workspace = true
futures.workspace = true
regex.workspace = true
once_cell.workspace = true
uuid.workspace = true
walkdir.workspace = true
indoc.workspace = true
itertools.workspace = true
chrono.workspace = true
git-url-parse.workspace = true
rowan.workspace = true
sha2.workspace = true
blake3.workspace = true
toml_edit.workspace = true
tracing.workspace = true
reqwest.workspace = true
toml.workspace = true
jsonwebtoken.workspace = true
indent.workspace = true

[dev-dependencies]
anyhow = "1.0.65"
dotenv = "0.15.0"
env_logger = "0.10"
pretty_assertions.workspace = true
serial_test = "2.0.0"

[features]
extra-tests = ["impure-unit-tests"]
impure-unit-tests = []
