*.log
*.swp
*~
.ccls
.ccls-cache
.env.*
.pre-commit-config.yaml
/.direnv/
/.flox
/autom4te.cache/
/cli/target
# <https://github.com/rust-lang/rust-analyzer/issues/20821>
/target
/build/*
compile_commands.json
result
result-*
!test_data/**/build
