*.Plo
*.Tpo
*.a
*.dylib
*.la
*.log
*.o
*.so
*.swp
*~
.ccls
.ccls-cache
.deps/
.dirstamp
.env
.libs/
.libs/
.pre-commit-config.yaml
/.direnv/
/.flox
/autom4te.cache/
/build/
/cli/target
compile_commands.json
config.status
libtool
result
result-*
