[package]
name = "flox-rust-sdk"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flox-types = { path = "../flox-types" }
tokio = { version = "1", features = ["full"] }
rnix = "0.11"
serde = "1.0"
serde_json = "1.0"
async-trait = "0.1.52"
log = "0.4.17"
derive_more = "0.99.17"
runix = "0.1.1"
url = "2.3"                                    # 2.3.1 has conflicting dependencies with octocrab
serde_with = "2.0.1"
thiserror = "1.0"
nix-editor = "0.3.0"
tempfile = "3.4.0"
fs_extra = "1.2.0"
futures = "0.3"
regex = "1"
once_cell = "1.16.0"
uuid = "1.2"
git2 = "0.16.1"
# async-recursion = "1.0"
walkdir = "2"

[dev-dependencies]
anyhow = "1.0.65"
dotenv = "0.15.0"

[features]
extra-tests = ["impure-unit-tests"]
impure-unit-tests = []
