[workspace]
members = ["flox", "flox-rust-sdk", "catalog-api-v1"]
default-members = ["flox"]

resolver = "2"

[workspace.dependencies]
anyhow = "1"
async-stream = "0.3.5"
async-trait = "0.1.80"
blake3 = "1.5.0"
bpaf = { version = "0.9.12", features = ["derive", "autocomplete"] }
catalog-api-v1 = { path = "catalog-api-v1" }
chrono = { version = "0.4.38", features = ["serde"] }
config = "0.14.0"
crossterm = "0.27"
derive_more = "0.99.17"
dirs = "5.0.0"
enum_dispatch = "0.3.13"
flox-rust-sdk = { path = "flox-rust-sdk" }
fslock = "0.2.1"
futures = "0.3"
indent = "0.1.1"
indexmap = { version = "2.2.6", features = ["serde"] }
indoc = "2.0.1"
inquire = "0.6.0"
indicatif = "0.17"
itertools = "0.12.1"
jsonwebtoken = "9.2"
log = "0.4.17"
nix = { version = "0.28", features = ["process", "user"] }
oauth2 = "4.4"
once_cell = "1.16.0"
pollster = "0.3.0"
progenitor-client = "0.6"
proptest = "1.4.0"
proptest-derive = "0.4.0"
reqwest = { version = "0.11", features = ["json", "blocking"] }
semver = "1.0.23"
sentry = { version = "0.32.3", features = ["test"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
serde_with = "3.8.1"
serde_yaml = "0.9"
shell-escape = "0.1.5"
supports-color = "3.0.0"
# provides process tools for shell detection
sysinfo = "0.30.12"
# provide system version information for metric
# TODO: review if we need this
sys-info = "0.9"
tempfile = "3.4.0"
textwrap = "0.16.0"
thiserror = "1"
time = { version = "0.3", features = ["serde", "formatting"] }
tokio = { version = "1", features = ["full"] }
toml = "0.8.13"
toml_edit = { version = "0.22", features = ["serde"] }
tracing = "0.1"
tracing-log = { version = "0.2", features = [] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = { version = "2.4", features = ["serde"] }
uuid = { version = "1.2", features = ["serde", "v4"] }
walkdir = "2"
xdg = "2.4"
httpmock = "0.7"
regex = "1.5"
regress = "0.9.1"

# dev dependencies
pretty_assertions = "1.3"
serial_test = "3.1.1"
temp-env = "0.3.2"

# build(.rs) dependencies
prettyplease = "0.2"
progenitor = "0.6"
syn = "2.0"
openapiv3 = "2.0"
