[package]
name = "flox"
version = "0.2.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flox-rust-sdk = { path = "../flox-rust-sdk" }
flox-types = { path = "../flox-types" }
anyhow = "1.0.65"
tokio = { version = "1", features = ["full"] }
rnix = "0.11.0"
serde = "1.0"
serde_json = "1.0"
serde_with = "2.0.1"
serde_yaml = "0.9"
async-trait = "0.1.52"
log = "0.4.17"
bpaf = { version = "0.7.9", features = ["derive", "autocomplete"] }
config = "0.13.1"
dirs = "5.0.0"
tempfile = "3.4.0"
futures = "0.3.25"
once_cell = "1.16.0"
serde_variant = "0.1.1"
itertools = "0.10.5"
regex = "1"
toml_edit = { version = "0.19", features = ["serde"] }
supports-color = "2.0.0"
inquire = "0.6.0"
crossterm = "0.26"
shell-escape = "0.1.5"
xdg = "2.4"
nix = "0.26"
indoc = "2.0.1"
derive_more = "0.99.17"
time = { version = "0.3", features = ["serde", "formatting"] }
uuid = { version = "1.2", features = ["serde", "v4"] }
reqwest = { version = "0.11", features = ["json"] }
sys-info = "0.9"
thiserror = "1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-log = { version = "0.1", features = ["env_logger"] }
fslock = "0.2.1"
pathdiff = "0.2"
indexmap = {version =  "1.9", features = ["serde"] }

[dev-dependencies]
temp-env = "0.3.2"


[features]
extra-tests = ["impure-unit-tests"]
impure-unit-tests = []
