name: "CI"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
  merge_group:

concurrency:
  group: "ci-${{ github.event.pull_request.event.number || github.sha }}"
  cancel-in-progress: true

jobs:

  pkgdb-dev:
    name: "Pkgdb Tests"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-22.04-8core"
          - "macos-latest"

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install newer Nix"
        uses: "cachix/install-nix-action@v24"

      - name: "Install flox"
        uses: "flox/install-flox-action@upload-more-to-cache"
        with:
          github-access-token:      "${{ secrets.NIX_GIT_TOKEN }}"
          substituter:              "${{ vars.FLOX_CACHE_PUBLIC_BUCKET }}"
          substituter-key:          "${{ secrets.FLOX_CACHE_PUBLIC_NIX_SECRET_KEY }}"
          aws-access-key-id:        "${{ secrets.FLOX_CACHE_PUBLIC_AWS_ACCESS_KEY_ID }}"
          aws-secret-access-key:    "${{ secrets.FLOX_CACHE_PUBLIC_AWS_SECRET_ACCESS_KEY }}"
          ssh-key:                  "${{ secrets.FLOXBOT_SSH_KEY }}"

      - name: "Configure Nix"
        run: |
          sudo echo 
          {
            echo "experimental-features = nix-command flakes";
          } | sudo tee -a /etc/nix/nix.conf >/dev/null

      - name: "Build"
        run: |
          nix develop -L                 \
            --accept-flake-config        \
            --no-update-lock-file        \
            --command make -C pkgdb -j;

      - name: "Test (pkgdb)"
        run: |
          nix develop -L                    \
            --accept-flake-config           \
            --no-update-lock-file           \
            --command make -C pkgdb tests;
          nix develop -L                    \
            --accept-flake-config           \
            --no-update-lock-file           \
            --command make -C pkgdb check;

      - name: "Build Docs"
        run: |
          nix develop -L                   \
            --accept-flake-config          \
            --no-update-lock-file          \
            --command make -C pkgdb docs;
          chmod -c -R +rX "pkgdb/docs/"|while read line; do
            echo "::warning title=Invalid file permissions fixed::$line";
          done

      - name: "Upload artifact"
        uses: "actions/upload-pages-artifact@v3"
        if: ${{ matrix.os == 'ubuntu-22.04-8core' }}
        with:
          path: "pkgdb/docs"

      - name: "Deploy to GitHub Pages"
        if: ${{ matrix.os == 'ubuntu-22.04-8core' }}
        id: "deployment"
        uses: "actions/deploy-pages@v4"

  cli-dev:
    name: "Flox Cargo Tests"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-22.04-8core"
          - "macos-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install newer Nix"
        uses: "cachix/install-nix-action@v24"

      - name: "Install flox"
        uses: "flox/install-flox-action@upload-more-to-cache"
        with:
          github-access-token:      "${{ secrets.NIX_GIT_TOKEN }}"
          substituter:              "${{ vars.FLOX_CACHE_PUBLIC_BUCKET }}"
          substituter-key:          "${{ secrets.FLOX_CACHE_PUBLIC_NIX_SECRET_KEY }}"
          aws-access-key-id:        "${{ secrets.FLOX_CACHE_PUBLIC_AWS_ACCESS_KEY_ID }}"
          aws-secret-access-key:    "${{ secrets.FLOX_CACHE_PUBLIC_AWS_SECRET_ACCESS_KEY }}"
          ssh-key:                  "${{ secrets.FLOXBOT_SSH_KEY }}"

      - name: "Configure Nix"
        run: |
          sudo echo 
          {
            echo "experimental-features = nix-command flakes";
          } | sudo tee -a /etc/nix/nix.conf >/dev/null

      - name: "Cache Cargo"
        uses: "actions/cache@v3"
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: "cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}"
          restore-keys: "cargo-${{ runner.os }}-"

      - name: "Build (pkgdb)"
        run: |
          nix develop -L                   \
            --accept-flake-config          \
            --no-update-lock-file          \
            '.#default'                    \
              --command make -C pkgdb -j;

      - name: "Build (cli)"
        run: |
          pushd ./cli;
          nix develop -L                                               \
            --accept-flake-config                                      \
            --no-update-lock-file                                      \
              --command sh -c                                          \
                'PKGDB_BIN="${PWD%/*}/pkgdb/bin/pkgdb" cargo build;';
          popd;

      - name: "Test (./cli: cargo test)"
        run: |
          pushd ./cli;
          export RUST_BACKTRACE=1;
          nix develop -L                                         \
            --accept-flake-config                                \
            --no-update-lock-file                                \
              --command sh -c '
                PKGDB_BIN="${PWD%/*}/pkgdb/bin/pkgdb"            \
                cargo test --locked --workspace -F extra-tests;
              ';
          popd;

      - name: "Test (./cli/tests)"
        run: |
          pushd ./cli;
          nix develop -L                 \
            --accept-flake-config        \
            --no-update-lock-file        \
              --command flox-cli-tests;
          popd;

      - name: "Test (./tests)"
        run: |
          nix develop -L             \
            --accept-flake-config    \
            --no-update-lock-file    \
              --command flox-tests;

  nix-build:
    name: "Nix build"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        system:
          - "x86_64-linux"
          - "x86_64-darwin"
          - "aarch64-linux"
          - "aarch64-darwin"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Setup Tailscale"
        uses: "tailscale/github-action@v2"
        with:
          args: "--timeout 30s --login-server ${{ vars.TAILSCALE_URL }}"
          tags: "tag:ci"
          authkey: "${{ secrets.TAILSCALE_AUTH_KEY }}"

      - name: "Install newer Nix"
        uses: "cachix/install-nix-action@v24"

      - name: "Install flox"
        uses: "flox/install-flox-action@upload-more-to-cache"
        with:
          github-access-token:      "${{ secrets.NIX_GIT_TOKEN }}"
          substituter:              "${{ vars.FLOX_CACHE_PUBLIC_BUCKET }}"
          substituter-key:          "${{ secrets.FLOX_CACHE_PUBLIC_NIX_SECRET_KEY }}"
          aws-access-key-id:        "${{ secrets.FLOX_CACHE_PUBLIC_AWS_ACCESS_KEY_ID }}"
          aws-secret-access-key:    "${{ secrets.FLOX_CACHE_PUBLIC_AWS_SECRET_ACCESS_KEY }}"
          ssh-key:                  "${{ secrets.FLOXBOT_SSH_KEY }}"
          remote-builders:          "${{ vars.FLOX_BUILDERS }}"

      - name: "Configure Nix"
        run: |
          sudo echo 
          {
            echo "experimental-features = nix-command flakes";
          } | sudo tee -a /etc/nix/nix.conf >/dev/null

      - name: "Build"
        run: |
          if nix path-info                 \
              --accept-flake-config        \
              --store "$FLOX_SUBSTITUTER"  \
              --eval-store auto            \
              --builders ''                \
              -j0                          \
                '.#flox-pkgdb.outPath'     \
                '.#flox-cli.outPath'; then
             echo paths already exist in substituter;
             exit 0;
          else
            nix build -L             \
              --accept-flake-config  \
              --no-update-lock-file  \
              --print-out-paths      \
                '.#flox-pkgdb'       \
                '.#flox-cli'         \
                '.#flox';
          fi

  trigger-flox-installers-workflow:
    name: "Build installers"
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: "ubuntu-22.04-8core"

    needs:
      - "nix-build"

    steps:
      - name: "Trigger flox-installers workflow"
        uses: "convictional/trigger-workflow-and-wait@v1.6.5"
        with:
          owner:              "flox"
          repo:               "flox-installers"
          github_token:       "${{ secrets.NIX_GIT_TOKEN }}"
          github_user:        "floxbot"
          workflow_file_name: "ci.yml"
          ref:                "main"
          wait_interval:      10
          client_payload:     '{"TARGET":"git+ssh://git@github.com/flox/flox?ref=main&rev=${{ github.event.pull_request.head.sha || github.sha }}"}'
          propagate_failure:  false
          trigger_workflow:   true
          wait_workflow:      true

  report-failure:
    name: "Report Failure"
    runs-on: "ubuntu-latest"

    if: ${{ failure() && github.ref == 'refs/heads/main' && github.event_name == 'push' }}

    needs:
      - "nix-build"
      - "pkgdb-dev"
      - "cli-dev"
      # TODO: enable these when deemed reliable - "nix-build-bats-tests"

    steps:
      - name: "Slack Notification"
        uses: "rtCamp/action-slack-notify@v2"
        env:
          SLACK_TITLE:      "Something broke CI for flox/flox on main"
          SLACK_FOOTER:     "Thank you for caring"
          SLACK_WEBHOOK:    "${{ secrets.SLACK_WEBHOOK_FOR_TEAM_ENGINEERING}}"
          SLACK_USERNAME:   "GitHub"
          SLACK_ICON_EMOJI: ":poop:"
          SLACK_COLOR:      "#ff2800"  # ferrari red -> https://encycolorpedia.com/ff2800
          SLACK_LINK_NAMES: true

  nix-build-bats-tests:
    name: "Flox Bats Tests"
    runs-on: "ubuntu-latest"

    needs:
      - "nix-build"

    strategy:
      fail-fast: false
      matrix:
        system:
          - "x86_64-linux"
          - "x86_64-darwin"
          - "aarch64-linux"
          - "aarch64-darwin"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
      - name: "Setup Tailscale"
        uses: "tailscale/github-action@v2"
        with:
          args: "--timeout 30s --login-server ${{ vars.TAILSCALE_URL }}"
          tags: "tag:ci"
          authkey: "${{ secrets.TAILSCALE_AUTH_KEY }}"
      - name: "Install newer Nix"
        uses: "cachix/install-nix-action@v24"
      - name: "Install flox"
        uses: "flox/install-flox-action@upload-more-to-cache"
        with:
          github-access-token:      "${{ secrets.NIX_GIT_TOKEN }}"
          substituter:              "${{ vars.FLOX_CACHE_PUBLIC_BUCKET }}"
          substituter-key:          "${{ secrets.FLOX_CACHE_PUBLIC_NIX_SECRET_KEY }}"
          aws-access-key-id:        "${{ secrets.FLOX_CACHE_PUBLIC_AWS_ACCESS_KEY_ID }}"
          aws-secret-access-key:    "${{ secrets.FLOX_CACHE_PUBLIC_AWS_SECRET_ACCESS_KEY }}"
          ssh-key:                  "${{ secrets.FLOXBOT_SSH_KEY }}"
          remote-builders:          "${{ vars.FLOX_BUILDERS }}"
      - name: "Configure Nix"
        run: |
          sudo echo 
          {
            echo "experimental-features = nix-command flakes";
          } | sudo tee -a /etc/nix/nix.conf >/dev/null
      - name: "Find remote server to run tests on"
        run: |
          set -eo pipefail
          export REMOTE_SERVER=$(cat /etc/nix/machines | grep ${{ matrix.system }} | cut -f1 -d' ' | cut -f3 -d'/' | head -1 | sed 's/nixbld@//' ; )
          export REMOTE_SERVER_USER_KNOWN_HOSTS_FILE=$(mktemp)
          export REMOTE_PUBLIC_HOST_KEY=$(cat /etc/nix/machines | grep ${{ matrix.system }} | tr -s ' ' | cut -f8 -d' ' | base64 -d ; )
          printf "%s %s\n" "$REMOTE_SERVER" "$REMOTE_PUBLIC_HOST_KEY" > "$REMOTE_SERVER_USER_KNOWN_HOSTS_FILE"
          echo "REMOTE_SERVER: $REMOTE_SERVER"
          echo "REMOTE_SERVER_USER_KNOWN_HOSTS_FILE: $REMOTE_SERVER_USER_KNOWN_HOSTS_FILE"
          cat $REMOTE_SERVER_USER_KNOWN_HOSTS_FILE
          echo "REMOTE_SERVER=$REMOTE_SERVER" >> $GITHUB_ENV
          echo "REMOTE_SERVER_USER_KNOWN_HOSTS_FILE=$REMOTE_SERVER_USER_KNOWN_HOSTS_FILE" >> $GITHUB_ENV
      - name: "Build flox"
        run: |
          git clean -xfd
          nix build -L \
              --accept-flake-config \
              --no-update-lock-file \
              --print-out-paths \
              '.#packages.${{ matrix.system }}.flox'
          # We run bats tests later on against the `FLOX_CLI' env
          echo "FLOX_CLI=$(readlink -f ./result; )/bin/flox" >> "$GITHUB_ENV"
          rm ./result
      - name: "Build Bats Tests (./#flox-tests)"
        run: |
          git clean -xfd
          nix build -L \
              --accept-flake-config \
              --no-update-lock-file \
              --print-out-paths \
              '.#packages.${{ matrix.system }}.flox-cli-tests'
          nix copy --to "$FLOX_SUBSTITUTER" ./result
      - name: "Run Bats Tests (./#flox-cli-tests)"
        run: |
          git clean -xfd
          ssh github@$REMOTE_SERVER \
            -oUserKnownHostsFile=$REMOTE_SERVER_USER_KNOWN_HOSTS_FILE \
            nix run \
                --accept-flake-config \
                --extra-experimental-features '"nix-command flakes"' \
                'github:flox/flox/${{ github.sha }}#packages.${{ matrix.system }}.flox-cli-tests'
